<div class="modal is-active">
    <div class="modal-background primary">
        {{> lottie name="logo"}}
    </div>
    <div class="modal-background solid acrylic is-link"></div>
    <div class="modal-content">
        {{> lottie name="button"}}  
    </div>
  {{!-- <button class="modal-close is-large" aria-label="close"></button> --}}
</div>