<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img class="asset image" data-name="logo" alt="loca snack" >
            </a>
            <div class="navbar-burger is-vcentered" data-target="navMenu">
                <a class="icon is-medium card-content"><i class="fas fa-bars"></i></a>
                {{!-- <span></span>
                <span></span>
                <span></span> --}}
            </div>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a href="#" class="navbar-item">VIEW PRODUCTS</a>
                <a href="#" class="navbar-item">WHAT’S NEW</a>
                <a href="#" class="navbar-item">NEWSELLER</a>
                <a href="#" class="navbar-item">CONTACT US</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-white is-outlined is-rounded">Buy LoCa products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
