{{> head}}

<body>
	<figure 
		class="lottie"
		data-name="animation-tweak"
	></figure>
	<audio id="sound">
		<source id="webm" src="sound/jingle.webm">
		<source id="mp3" src="sound/jingle.mp3">
	</audio>
   <section class="hero">
	   <header class="hero-head">
	   </header>
	   <main class="hero-body"></main>
	   <footer class="hero-foot">
		<h2 class="title has-text-white has-text-centered">COMING SOON! {{this.title}}</h2>
		<figure class="acrylic"></div>
	   </footer>
   </section>

<!-- <audio  controls="false" autoplay="true" loop="true">
    
    <source src="LocasChips_1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>  -->
	
</body>
</html>
