{{> head}}

<body>
			<section data-anchor="home">
			<div class="hero">
				<header class="hero-head">
				</header>
				<main class="hero-body">
					<div class="slide"><div class="solid acrylic">1</div></div>
					<div class="slide"><div class="solid acrylic is-link">2</div></div>
				</main>
				<footer class="hero-foot">
					<div class="hero-buttons is-fullwidth has-text-center">
						<div class="container">
							<div class="level">
								<ul class="level-left card-content">
									<a class="level-item"><li>Contact us</li></a>
									<a class="level-item"><li>Terms & Conditions</li></a>
									<a class="level-item"><li>Privacy Policy</li></a>
								</ul>
								<span class="level-item card-content"></span>
								<ul class="level-right card-content">
									<a class="level-item"><li class="icon"><i class="fab fa-facebook-f"></i></li></a>
									<a class="level-item"><li class="icon"><i class="fab fa-twitter"></i></li></a>
									<a class="level-item"><li class="icon"><i class="fab fa-instagram"></i></li></a>
									<a class="level-item"><li class="icon"><i class="fab fa-youtube"></i></li></a>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</section>

		{{> parts/modal}}
		{{> parts/nav}}

</body>
</html>