{{> head}}

<body>
	<div id="fullpage">

		{{> parts/modal}}

		<section data-anchor="home">
			<div class="hero is-fullheight">
				<header class="hero-head">
					{{> parts/nav}}
				</header>
				<main class="hero-body">
				</main>
				<footer class="hero-foot">
					<figure class="solid acrylic is-link z-10"></figure>
				</footer>
			</div>
		</section>

	</div>
</body>
</html>